:root {
  --primary-red: #b71c1c;
  --light-red: #f05545;
  --dark-red: #7f0000;
  --primary-gray: #c7c7c7;
  --light-gray: #eee;
  --dark-gray: #1b1b1b;
  --white: #fff;
  --primary-font: 'Noto Sans JP', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  color: var(--dark-gray);
  background-color: var(--dark-gray);
}

a {
  color: var(--primary-red);
  transition: color 0.2s ease-in;
}

a:hover {
  color: var(--light-red);
}

a:visited {
  color: var(--dark-red);
}

button {
  background-color: var(--white);
  border: 2px solid var(--primary-red);
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  color: var(--primary-red);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  border: 2px solid var(--light-red);
  color: var(--light-red);
}

p {
  line-height: 1.5;
}

hr {
  border-top: 1px solid var(--light-gray);
}

header,
main {
  background-color: var(--white);
}

main {
  padding-bottom: 3rem;
}

footer {
  background-color: var(--dark-gray);
  color: var(--white);
  padding-bottom: 3rem;
  margin-top: 3rem;
}

footer a,
footer a:hover,
footer a:visited {
  color: var(--white);
}

footer .content {
  display: flex;
  justify-content: space-between;
}

.hr-wrapper,
.tags,
.actions,
.content,
.page-header,
.story-cards {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-header .content {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 700px) {
  .site-header .content {
    display: flex;
    justify-content: space-between;
  }
}

.site-title {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

@media (min-width: 700px) {
  .site-title {
    text-align: left;
    width: 50%;
  }
}

.site-nav {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.site-nav a {
  text-decoration: none;
  color: var(--primary-red);
}

.site-nav a:hover {
  color: var(--light-red);
}

.site-nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 1.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .site-nav {
    width: 50%;
    padding: 0;
  }

  .site-nav ul {
    margin: 0;
  }
}

.page-header h1 {
  font-size: 56px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
}

/********************
  INDIVIDUAL STORY
********************/

.story {
  font-size: 24px;
}

.story header {
  padding: 6rem 2rem;
  text-align: center;
  background-color: var(--light-gray);
}

.story h1 {
  margin: 0;
}

.tags {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin-top: 1rem;
}

.actions {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.story .content .translation {
  color: var(--primary-gray);
  font-size: 16px;
  margin-top: -20px;
  display: none;
}

.story .content .translation.visible {
  display: block;
}

/********************
  FILTERS
********************/
.filters {
  margin-bottom: 1.5rem;
}

.filters h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.filters .tags {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.filters .tags .tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.filters .tags .tag.active button {
  background-color: var(--primary-red);
  color: var(--white);
}

.filters .tags .tag.active button:hover {
  background-color: var(--light-red);
}

/********************
  STORY CARDS
********************/
.story-cards {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

.story-card {
  text-align: center;
  min-height: 200px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--light-gray);
}

.story-card:last-child {
  margin-bottom: 0;
}

.story-card a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s ease-in-out;
}

.story-card a:hover {
  background-color: rgba(255, 255, 255, 0);
}

.story-card h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 900;
}

.story-card .tags {
  margin-top: 0;
  font-size: 14px;
  font-weight: 900;
}

@media (min-width: 700px) {
  .story-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .story-card {
    width: 49%;
  }

  .story-card:last-child {
    margin-bottom: 1rem;
  }

  .story-card a {
    position: relative;
  }

}